.content-segment {
    padding-left: 100px;
}

.row-1 .col-1, .row-2 .col-1 {
    width: 55%;
    float: left;
}
.row-1 .col-2  {
    width: 45%;
    float: right;
}
.row-3 {
    width: 100%;
    display: flex;
    padding-right: 100px;
    margin-bottom: 120px;
    flex-wrap: wrap;
}


.image-container {
    padding-top: 150px;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.15;
}

p {
    font-size: 20px;
    line-height: 1.8;
}
.content-image {
    width: 100%;
}

h1 {
    font-size: 72px;
    color: #2e3135;
    font-weight: 900;
}


@media only screen and (max-width: 480px) {
    .content-segment {
        padding-left: 20px;
        padding-right: 20px;
        .row-1 .col-1, .row-2 .col-1 {
            width: 100%;
        }
    
        .row-1 .col-2  {
            width: 100%;
            float: right;
            margin-right: -20px;
        }
    
        .image-container {
            padding-top: 0px;
        }
    }

}