.content-segment-2 {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.col-1 {
    display: flex 
}

.content-image {
    width: 620px;
    height: 290px;
    margin-top: 150px;
}

.col-2 {
    display: flex;
}

.text-container {
    max-width: 620px;
    min-width: 0px;
    margin-right: 20px;
    white-space: pre-wrap;
    
}

.row-3 {
    width: 100%;
    display: flex;
    margin-bottom: 120px;
    flex-wrap: wrap;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.15;
}

p {
    font-size: 20px;
    line-height: 1.8;
}

h1 {
    font-size: 72px;
    color: #2e3135;
    font-weight: 900;
}



@media only screen and (max-width: 600px) {
    .content-segment-2 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .col-1 {
        max-width: 800px;
        flex-direction: column;
    }

    .content-image {
        margin-top: 0px; 
    }
}

@media only screen and (max-width: 800px) {

    .content-image {
        width: 100%;
        height: auto;
    }
}