.pillar {
  text-align: center;
  height: 150px;
  width: 135px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  min-width: 130px; }
  .pillar .pillar-image {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    display: inline; }
  .pillar .hover {
    width: 70px;
    height: 70px;
    display: none; }
  .pillar .pillar-title {
    font-size: 24px;
    font-weight: bold;
    display: block;
    color: #2e3135; }
  .pillar .pillar-text {
    display: none;
    width: 170px;
    margin-left: -17.5px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    color: #5b1647; }

.pillar:hover {
  cursor: pointer; }
  .pillar:hover .pillar-image {
    display: none; }
  .pillar:hover .hover {
    display: inline; }
  .pillar:hover .pillar-text {
    display: block; }
  .pillar:hover .pillar-image {
    margin-bottom: 10px; }
  .pillar:hover div .pillar-title {
    color: #5b1647; }

@media only screen and (max-width: 600px) {
  .pillar {
    width: 100%;
    height: 100px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    text-align: left; }
    .pillar .pillar-text {
      display: block; }
    .pillar .pillar-image {
      display: none; }
    .pillar .hover {
      display: inline-block; }
    .pillar div {
      display: inline-block; }
      .pillar div .pillar-title {
        padding-left: 40px; }
      .pillar div .pillar-text {
        margin-left: 40px;
        text-align: left;
        width: auto; } }
