.graduate-form-content {
  position: relative; }
  .graduate-form-content *:focus {
    outline: 0 !important; }
  .graduate-form-content .content-container-form {
    padding-top: 70px;
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex; }
    .graduate-form-content .content-container-form .col-1 {
      min-width: 280px;
      max-width: 400px;
      background-color: #f5f5f5;
      padding-top: 100px;
      position: relative;
      padding-bottom: 80px; }
      .graduate-form-content .content-container-form .col-1 img {
        width: 200px;
        margin-left: 30px; }
      .graduate-form-content .content-container-form .col-1 .top-title {
        position: absolute;
        top: 100px;
        left: 260px;
        width: 100vw;
        background-color: #2e3135;
        padding-left: 20px;
        padding-top: 15px;
        height: 180px; }
        .graduate-form-content .content-container-form .col-1 .top-title h1 {
          width: 600px;
          font-size: 72px;
          font-weight: 900;
          line-height: 0.94;
          text-align: left;
          color: #ffffff; }
      .graduate-form-content .content-container-form .col-1 .main-text {
        margin: 50px 30px 30px 30px;
        font-size: 20px;
        line-height: 1.8;
        font-weight: 200;
        text-align: left;
        color: #2e3135; }
      .graduate-form-content .content-container-form .col-1 .closure-text {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.3;
        text-align: left;
        color: #2e3135;
        margin-left: 30px;
        margin-right: 30px;
        font-weight: bold; }
    .graduate-form-content .content-container-form .col-2 {
      width: 100%;
      min-width: 280px;
      margin-top: 350px;
      margin-left: 65px; }
      .graduate-form-content .content-container-form .col-2 .form-container {
        display: flex;
        flex-wrap: wrap; }
        .graduate-form-content .content-container-form .col-2 .form-container .form-item {
          margin-right: auto;
          margin-bottom: 10px; }
      .graduate-form-content .content-container-form .col-2 .form-checkbox {
        width: 100%;
        font-size: 18px;
        text-align: left;
        color: #2e3135;
        margin-bottom: 50px;
        display: flex; }
      .graduate-form-content .content-container-form .col-2 .ticked-form-checkbox {
        width: 22px;
        height: 22px;
        content: url("../../assets/images/form-icons/unticked.svg"); }
      .graduate-form-content .content-container-form .col-2 .unticked-form-checkbox {
        width: 22px;
        height: 22px;
        content: url("../../assets/images/form-icons/ticked.svg"); }
      .graduate-form-content .content-container-form .col-2 .form-checkbox-text {
        font-size: 18px;
        text-align: left;
        color: #2e3135;
        margin-left: 10px; }
      .graduate-form-content .content-container-form .col-2 .file-drop-container {
        width: 100%;
        margin-bottom: 50px; }
        .graduate-form-content .content-container-form .col-2 .file-drop-container .file-drop-content {
          display: flex; }
          .graduate-form-content .content-container-form .col-2 .file-drop-container .file-drop-content .file-drop-text {
            font-size: 18px;
            text-align: left;
            color: #2e3135; }
          .graduate-form-content .content-container-form .col-2 .file-drop-container .file-drop-content img {
            width: 30px;
            height: 30px;
            margin-left: -5px; }
        .graduate-form-content .content-container-form .col-2 .file-drop-container .file-drop {
          height: 340px;
          border-radius: 5px;
          background-color: #fafafa;
          box-shadow: inset 0 0 2px 0 rgba(153, 153, 153, 0.5); }
          .graduate-form-content .content-container-form .col-2 .file-drop-container .file-drop .drop-no-file {
            padding-top: 90px;
            display: flex;
            flex-direction: column;
            text-align: center; }
            .graduate-form-content .content-container-form .col-2 .file-drop-container .file-drop .drop-no-file img {
              margin-left: auto;
              margin-right: auto;
              width: 120px; }
            .graduate-form-content .content-container-form .col-2 .file-drop-container .file-drop .drop-no-file .line-1 {
              font-size: 20.2px;
              font-weight: 600;
              line-height: 1.04;
              color: #999999; }
            .graduate-form-content .content-container-form .col-2 .file-drop-container .file-drop .drop-no-file .line-2 {
              font-size: 15.1px;
              font-weight: normal;
              line-height: 1.38;
              color: #999999; }
          .graduate-form-content .content-container-form .col-2 .file-drop-container .file-drop .drop-file {
            display: flex;
            flex-direction: column;
            text-align: center; }
            .graduate-form-content .content-container-form .col-2 .file-drop-container .file-drop .drop-file .remove {
              width: 70px;
              height: 70px;
              margin-left: auto;
              margin-right: 10px; }
            .graduate-form-content .content-container-form .col-2 .file-drop-container .file-drop .drop-file .success {
              margin-top: 20px;
              margin-left: auto;
              margin-right: auto;
              width: 120px; }
            .graduate-form-content .content-container-form .col-2 .file-drop-container .file-drop .drop-file .line-1 {
              font-size: 20.2px;
              font-weight: 600;
              line-height: 1.04;
              color: #999999; }
            .graduate-form-content .content-container-form .col-2 .file-drop-container .file-drop .drop-file .line-2 {
              font-size: 15.1px;
              font-weight: normal;
              line-height: 1.38;
              color: #999999; }
      .graduate-form-content .content-container-form .col-2 .checkbox-container {
        width: 100%; }
        .graduate-form-content .content-container-form .col-2 .checkbox-container div {
          display: flex; }
          .graduate-form-content .content-container-form .col-2 .checkbox-container div .checkbox-text {
            width: 300px;
            font-size: 18px;
            line-height: 2;
            text-align: left;
            color: #2e3135; }
          .graduate-form-content .content-container-form .col-2 .checkbox-container div .ticked {
            width: 22px;
            height: 22px;
            margin-top: 7px;
            content: url("../../assets/images/form-icons/unticked.svg"); }
          .graduate-form-content .content-container-form .col-2 .checkbox-container div .unticked {
            width: 22px;
            height: 22px;
            text-align: center;
            margin-top: 7px;
            content: url("../../assets/images/form-icons/ticked.svg"); }
          .graduate-form-content .content-container-form .col-2 .checkbox-container div .span-yes {
            width: 28px;
            height: 23px;
            font-family: SourceSansPro;
            font-size: 18px;
            text-align: left;
            color: #2e3135;
            margin-top: 5px;
            margin-left: 10px;
            margin-right: 30px; }
          .graduate-form-content .content-container-form .col-2 .checkbox-container div .span-no {
            width: 28px;
            height: 23px;
            font-family: SourceSansPro;
            font-size: 18px;
            text-align: left;
            color: #2e3135;
            margin-top: 5px;
            margin-left: 10px;
            margin-right: 40px; }
      .graduate-form-content .content-container-form .col-2 .program-button {
        display: block;
        margin-left: auto;
        width: 260px;
        height: 50px;
        padding-top: 2px;
        margin-bottom: 30px;
        margin-top: 10px;
        background-color: #2e3135;
        border: solid 1px #979797;
        border-radius: 5px;
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        text-decoration: none; }
      .graduate-form-content .content-container-form .col-2 .program-button:hover {
        background-color: #5b1647;
        border: solid 1px #979797; }
      .graduate-form-content .content-container-form .col-2 .disabled {
        background-color: rgba(46, 49, 53, 0.2);
        border: none; }
      .graduate-form-content .content-container-form .col-2 .disabled:hover {
        background-color: rgba(46, 49, 53, 0.2);
        border: none; }
    @media only screen and (max-width: 1265px) {
      .graduate-form-content .content-container-form .col-2 .form-container .form-item {
        margin-left: auto; } }
  @media only screen and (max-width: 1110px) {
    .graduate-form-content .content-container-form {
      flex-direction: column; }
      .graduate-form-content .content-container-form .col-1 {
        max-width: 100%;
        min-width: 280px; }
      .graduate-form-content .content-container-form .col-2 {
        margin-top: 40px;
        margin-left: 0px; } }
  .graduate-form-content .ant-input {
    padding-left: 35px !important; }
  @media only screen and (max-width: 800px) {
    .graduate-form-content .content-container-form {
      padding-left: 20px;
      padding-right: 20px; }
      .graduate-form-content .content-container-form .col-1 {
        padding-top: 30px;
        margin-top: 180px; }
        .graduate-form-content .content-container-form .col-1 img {
          display: none; }
        .graduate-form-content .content-container-form .col-1 .top-title {
          left: 50px;
          top: -130px; }
      .graduate-form-content .content-container-form .col-2 {
        margin-top: 40px;
        margin-left: 0px;
        min-width: 280px; } }
  @media only screen and (max-width: 500px) {
    .graduate-form-content .content-container-form .col-1 .top-title h1 {
      width: 300px;
      font-size: 40px; }
    .graduate-form-content .content-container-form .col-2 {
      margin-top: 40px;
      margin-left: 0px; }
      .graduate-form-content .content-container-form .col-2 .form-container .input-field {
        margin-left: 0px;
        margin-right: 0px; } }
