.content {
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto; }
  .content .main-title {
    font-size: 72px;
    font-weight: 900;
    text-align: left;
    color: #000000;
    font-style: bold; }
  .content .secondary-title {
    font-size: 48px;
    text-align: left;
    font-weight: 400;
    color: #000000;
    margin-bottom: 50px; }
  .content .expectation-container {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap; }
  .content .main-text-container {
    display: flex; }
    .content .main-text-container img {
      max-width: 650px;
      width: 100%;
      height: auto; }
    .content .main-text-container p {
      font-size: 24px;
      line-height: 1.5;
      text-align: left;
      color: #2e3135;
      margin-right: 65px; }

@media only screen and (max-width: 1250px) {
  .content .main-text-container {
    flex-direction: column; }
    .content .main-text-container p {
      margin-right: 0px; }
    .content .main-text-container img {
      margin-left: auto;
      margin-right: auto; } }

@media only screen and (max-width: 600px) {
  .content {
    padding-left: 20px;
    padding-right: 20px; }
    .content .expectation-container {
      flex-direction: column; } }
