.top-nav {
    width: 100%;
    height: 70px;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    
    .dashboard-navigator {
        height: 70px;
        margin-right: auto;
        
        img {
            margin-left: 40px;
            margin-top: 20px;
        }

    }

    .right-links {
        margin-top: 20px;
        margin-right: 40px;
        margin-left: auto;
        display: flex;
        min-width: 360px;
        
        span {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            color: #ffffff;
            
        }

        .dropdown:hover, .menu-dropdown:hover {
            .menu-dropdown {
                display: block;            
            }
        }
        
        a {
            margin-left: 45px;

            .menu-dropdown {
                position: absolute;
                display: none;
                margin-top: 10px;
                background-color: #f5f5f5;
                width: 230px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 5px;
                box-shadow: 1px 2px 3px 0 rgba(153, 153, 153, 0.5);
                margin-left: -75px;

                a {
                    margin-left: 40px;
                    display: block;
                    width: 100%;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: left;
                    color: #5b1647;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

                a:hover {
                    text-decoration: underline;
                    text-decoration-color: #5b1647;
                }
            }
        }

        a:hover {
            text-decoration: underline;
            text-decoration-color: #fff;
        }
    }

    .hamburger {
        display: none;
        padding-top: 15px;
        padding-right: 25px;
        .line-1 {
            width: 26px;
            height: 2px;
            border: solid 1px #ffffff;
            border-radius: 4px;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }

    .side-menu {
        position: absolute;
        transform: translate(0%);
        transition: transform 1000ms ease-in-out;
        top: 0px;
        height: 100vh;
        width: 100vw;
        margin-left: 100%;
        background-color: #5a1846;
        box-shadow: 1px 2px 3px 0 rgba(153, 153, 153, 0.5);
        
        
        &.open {
            transform: translate(-100%);
            transition: transform 1000ms ease-in-out;
            position: fixed;
        
        }

        &.close {
            transform: translate(0%);            
            transition: transform 1000ms ease-in-out;
        }

        .content {
            display: flex;
            flex-direction: column;

            img {
                margin-top: 23px;
                margin-right: 23px;
                margin-left: auto;
            }
    
            .text-content {
                width: 150px;
                margin: auto;
                margin-top: 20vh;
                flex: auto;
                flex-direction: column;
    
                a {
                    display: block;
                    text-decoration: none;
                }
    
                .line-2 {
                    width: 150px;
                    height: 1px;
                    border: solid 1px #ffc500;
                }
    
                .text-item-1 {
                    font-size: 16px;
                    font-weight: 600;
                    text-align: left;
                    color: #ffffff;
                    margin-top: 20px;
                    
                }
                .text-item-2 {
                    margin-left: 20px;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: left;
                    color: #f5f5f5;
                    opacity: 0.7;
                    margin-top: 20px;
                }
            }
        }   


        
    }

}

.dark {
    .top-nav {
        border-bottom: solid 1px #979797;
        
        .dashboard-navigator {
            height: 70px;
            margin-right: left;
            
            img {
                margin-left: 10px;
                margin-top: 0px;
            }
    
        }

        .right-links {
            span {
                font-size: 20px;
                font-weight: 600;
                text-align: left;
                color: #4a4a4a;
            }

            a {
                .menu-dropdown {
                    background-color: #4a4a4a;
                    a {
                        color: #ffffff;
                    }
                }
            }
        }

        .hamburger {
            .line-1 {
                border: solid 1px #4a4a4a;
            
            }
        }
    }
}
    
@media only screen and (max-width: 850px) {
    .top-nav {
        .right-links {
            margin-right: 0px;
            
        }
    }
}

@media only screen and (max-width: 600px) {
    .top-nav {
        display: inline-block;
        .right-links {
            display: none;
        }


        .hamburger {
            display: inline-block;
            float: right;
        }
    }
}
